:root {
    --color-primary: #950740;
    --color-secondary: #6F2232;
    --color-accent: #C3073F;
    --color-headings: #454547;
    --color-bodytext: #4E4E50;
    --color-background: #1A1A1D;
    --color-border: #ccc;
    --border-radius: 30px;
}

*, *::after, *::before{
    box-sizing: border-box;
}


/*   -------------- Typography --------------         */
html{
    font-size: 62.5%; /*Of 16px = 10px*/
}

body{
    font-family: Inter, Arial, Arial, Helvetica, sans-serif;
    color: var(--color-bodytext);
    font-size: 2.4rem;
    line-height: 1.5rem;
}

h1,h2,h3{
    color:var(--color-headings);
    margin-bottom: 2rem;
}

h1{
    font-size: 7rem; /*1 x font size of the html element*/
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
}

p{
    margin-top: 1rem;
    
}


@media screen and (min-width: 1024px) { /*This number is a default value*/
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem;
    }
}



/*   -------------- Links --------------         */
a{
    text-decoration: none; /*There is an underline by default. We must remove it.*/
}
.link-arrow{
    color:var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}
/*With this rule, we define an element after the class*/
.link-arrow::after{
    margin-left: 5px;
    content:"-->";
    transition: margin 0.15s;
}
/*We target the element previously defined and add some interaction while hovered*/
.link-arrow:hover::after{
    margin-left: 10px;

}

@media screen and (min-width: 1024px){
    .link-arrow{
        font-size: 1.5rem;
    }
}

/*   -------------- Badges --------------         */
.badge{
    white-space: nowrap; /*This prevents to wrapping in another line*/
    padding: 0.5rem 2rem; /*vertical - horizontal*/
    font-weight: 600;
    font-size: 2rem;
    border-radius: 20px;
}

.badge--primary{
    background: var(--color-primary);
    color: white;
}
.badge--secondary{
    background-color:var(--color-secondary);
    color:white;
}
.badge--small{
    font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
    .badge{
        font-size:1.5rem;
    }
    .badge--small{
        font-size: 1.2rem;
    } 
}

/*   -------------- Lists --------------         */
.list{
    list-style: none; /*removes the dot added to the list*/
    padding-left: 0;
    color: var(--color-headings);
}
/*Horizontal and vertical lists*/
.list--inline .list__item{
    display: inline-block;
    margin-right: 2rem;
}
/*Giving the tick icon to the list elements*/
.list--tick{
    list-style-image: url(../images/tick.svg);
    padding-left:3rem;
}

.list--tick .list__item{
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .list--tick .list__item{
        padding-left: 0;
    }    
}

/*   -------------- Icons --------------         */
.icon{
    width: 40px;
    height: 40px;
}

.icon--primary{ /*fill is only available in svg files*/
    fill: var(--color-primary)
}
/*span is an inline elements. width and height doesn't have effect in inline*/

.icon-container{
    background-color: var(--color-headings);
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex; /*We use flex to position the icon in the container*/
    justify-content: center;
    align-items: center;
}

/*   -------------- Buttons --------------         */
.btn{
    border-radius: 40px;
    border:0;
    cursor: pointer;/*When you hover it, the cursos changes*/
    font-size: 1.8rem;
    font-weight: 600;
    padding: 2rem 3rem;
    margin: 1rem 0;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
}
.btn--primary{
    background-color: #950740;
    color:white;
}
.btn--primary:hover{
    background-color:#aa0949;
}

.btn--secondary{
    background-color: var(--color-secondary);
    color:white;
}

.btn--secondary:hover{
    background-color: #8f2e41;
}

.btn--accent{
    background-color: var(--color-accent);
    color: white;
}

.btn--accent:hover{
    background-color: #d80847;
}

.btn--headings{
    background-color: white;
    border: 2px solid var(--color-headings);
}

.btn--headings{
    background: var(--color-headings);
    color:white;
}

.btn--block{
    display: inline-block;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .btn{
        font-size: 1.5rem;
    }

}

/*   -------------- Inputs --------------         */
.input{
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border);
    color:var(--color-headings);
    font-size: 2rem;
    outline: 0; /*removes the hover that browsers applies*/
    padding: 1.5rem 3.5rem;
}

::placeholder{
    color:#a7a6a6;
}

.input-group{
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    display: flex;
}

.input-group .input{ /*The input inside the input-group shouldn't have a border*/
    border:0;
    flex-grow: 1;
    padding-left: 1.5rem;
}

.input-group .btn{
    margin: 4px;
}

@media screen and (min-width: 1024px){
    .input{
        font-size: 1.5rem;
    }
}

/*   -------------- Cards --------------         */
.card{
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3; /* hor vert blur spreading */
    overflow: hidden;
}

.card__header, .card__body{
    padding: 2rem 3rem;
}

.card--primary .card__header{
    background-color: var(--color-primary);
    color: white;
}

.card--secondary .card__header{
    background-color: var(--color-secondary);
    color: white;
}